@import 'nib';
@import '../vars.styl';

.console-filtered
  background-color $console-background
  box-shadow 0px 1px 2px 0px rgba(50, 50, 50, .5);
  font-family $mono
  font-size 1.2em
  overflow-x auto
  margin-top 4px
  height 100px
  margin-left 5px
  user-select none
  width calc(50% - 5px)
  .equal, .not, .less, .greater, .like, .link, .in
    margin 3px
    padding 2px
    user-select none
    &:hover
      border 2px solid $alt-color
      background-color $alt-color
      color white
      cursor pointer
  .equal
    border 2px solid $filter-equal
  .not
    border 2px solid $filter-not
  .less
    border 2px solid $filter-less
  .greater
    border 2px solid $filter-greater
  .like
    border 2px solid $filter-like
  .link
    border 2px solid $filter-link
  .in
    border 2px solid $filter-in
