@import 'nib';
@import '../vars.styl';

.console
  background-color $console-background
  box-shadow 0px 1px 2px 0px rgba(50, 50, 50, .5)
  font-family $mono
  font-size 1.2em
  height 99px
  overflow-y auto
  margin-bottom 6px
  padding 10px
  user-select auto
  width 90%
.keyword
  color $main-color
  font-weight bold
.console-buttons
  width 10%
  :first-child, :nth-child(2)
    margin-bottom 4px
  .console-button
    background-color $alt-color
    border none
    box-shadow 0px 0px 4px 0px rgba(50, 50, 50, 0.6)
    color white
    font-weight 600
    height 30px
    margin-left 7px
    width calc(100% - 10px)
    &:hover
      background-color darken($alt-color, 5)
    &:active
      background-color darken($alt-color, 10)
