@import 'nib';
@import '../vars.styl';

.console
  background-color $console-background
  border black
  font-family $mono
  font-size 1.2em
  height 99px
  overflow-y auto
  padding 10px
  width 90%
.keyword
  color green
  font-weight bold
.console-buttons
  width 10%
  button
    width 100%
    height 33px
