.console-selected
  border black
  margin-right 2px
  margin-top 4px
  min-height 35px
  width: calc(50% - 2px)
  .target
    background-color lightgreen
    margin 3px
    padding 2px
    &:hover
      background-color red
      cursor pointer
.focused-record-tab
  color green
