@import 'nib';
@import '../vars.styl';

.console-filtered
  border black
  margin-top 4px
  min-height 35px
  margin-left 2px
  width calc(50% - 2px)
  .equal, .not, .less, .greater, .like, .link, .in
    margin 3px
    padding 2px
    user-select none
    &:hover
      background-color red
      cursor pointer
  .equal
    background-color lightgreen
  .not
    background-color $filter-not
  .less
    background-color $filter-less
  .greater
    background-color $filter-greater
  .like
    background-color $filter-like
  .link
    background-color $filter-link
  .in
    background-color $filter-in
