@import 'nib';
@import '../vars.styl';

.console
  background-color $console-background
  border hsla(0, 0%, 0%, 0.7)
  font-family $mono
  font-size 1.2em
  height 99px
  overflow-y auto
  padding 10px
  user-select auto
  width 90%
.keyword
  color $main-color
  font-weight bold
.console-buttons
  width 10%
  :first-child, :nth-child(2)
    margin-bottom 4px
  .console-button
    border 2px solid $alt-color
    background-color transparent
    width 100%
    height 30px
    &:hover
      background-color $alt-color
      color white
    &:active
      background-color darken($alt-color, 10)
      color white
