@import 'nib';
@import '../vars.styl';

.console-selected
  background-color $console-background
  border $tab-border-color
  font-family $mono
  font-size 1.2em
  height 100px
  margin-right 2px
  margin-top 4px
  overflow-y auto
  user-select none
  width: calc(50% - 2px)
  .target
    border solid 2px $main-color
    margin 3px
    padding 2px
    user-select none
    &:hover
      border 2px solid $alt-color
      background-color $alt-color
      color white
      cursor pointer
