.container
  display flex
  min-height 100vh

.main-container
  align-items flex-start
  align-self flex-start
  background-color $container-background
  border-radius 5px
  display flex
  flex-flow row wrap
  margin-top 35px
  padding 5px
  width 90%
