@import 'nib';
@import '../vars.styl';

.left-panel
  display inline-flex
  color hsla(169, 100%, 100%, 0.8)
  flex 1 1 auto
  flex-direction column
  font-weight 600
  max-width 150px
  min-height 100%
  overflow-x hidden
  overflow-y auto
  user-select none
  width 150px

  .left-buttons
    background-color $alt-color
    border none
    box-shadow 0px 0px 4px 0px rgba(50, 50, 50, 0.4)
    color white
    margin 5px 10px
    padding 7px 0px
    width 80%
    &:hover
      background-color darken($alt-color, 5)
    &:active
      background-color darken($alt-color, 10)

  .title
    color white
    display flex
    font-size 1.3em
    margin 35px 5px 5px 10px
    width 100%

  .table-tab, .favorite-tab, .saved-tab
    display inline-block
    margin-left 15px
    padding 2px
    position relative
    text-transform capitalize
    width calc(100% - 15px)
    &:hover
      border-bottom 2px solid alpha($alt-color, 8)
      cursor pointer
      color white
      > button
        cursor pointer
        display inline-block
    > div, select
      display inline-block
      width 100px
    > button
      background-color hsla(169, 100%, 100%, 0.8)
      border none
      border-radius 50%
      color #2de2d4
      display none
      font-size 10px
      font-weight 600
      line-height 1.5em
      position absolute
      right 2px
      top 3px
      &:hover
        background-color white
