@import 'nib';
@import '../vars.styl';

.left-panel
  display inline-flex
  background-color orchid
  flex-direction column
  height 100%
  max-width 150px
  min-height 100%
  overflow-x hidden
  overflow-y auto
  width 150px
  flex 1 1 auto

  .table-tab, .favorite-tab, .saved-tab
    display inline-block
    &:hover
      cursor pointer
    > div, select
      display inline-block
      width 115px
    > button
      background-color blue
      display inline-block
      position relative
      left 10px
