@import 'nib';
@import '../vars.styl';

.records-container
  display inline-block
  button
    margin 3px
    padding 5px

.records
  .record-button
    background-color lightgrey
    display inline-block
    margin 3px
    padding 5px
    user-select none
    &:hover
      cursor pointer
    select, input
      width 100%
  .record-button-selected
    background-color $button-selected
  .filter-not
    background-color $filter-not
  .filter-greater
    background-color $filter-greater
  .filter-less
    background-color $filter-less
  .filter-like
    background-color $filter-like
  .filter-link
    background-color $filter-link
  .filter-in
    background-color $filter-in

.records-tabs
  display inline-flex
  justify-content space-around
  align-items center
  height 45px
  width 100%
  &:hover
    cursor pointer
