.records
  display inline-flex
  .record-button
    display inline-block
    margin 3px
    padding 5px
    background-color lightgrey
    &:hover
      cursor pointer
    select, input
      width 100%
  .record-button-selected
    background-color lightgreen

.records-tabs
  display inline-flex
  justify-content space-around
  align-items center
  height 45px
  width 100%
