
$font-family = 'Open Sans', Helvetica, sans-serif
$mono = 'Anonymous Pro', monospace
$main-font = normal .95em $font-family

$button-selected = lightgreen
$filter-not = tomato
$filter-greater = dodgerblue
$filter-less = gold
$filter-like = lightsalmon
$filter-link = mediumOrchid
$filter-in = turquoise

$body-background = linear-gradient(to right, #2CE8D5 0%, #33A7C4 100%)
$console-background = white
$container-background = hsla(169, 100%, 100%, 0.72)
