
$font-family = 'Open Sans', Helvetica, sans-serif
$mono = 'Anonymous Pro', monospace
$main-font = normal .95em $font-family

$filter-equal = #00cc00
$filter-not = #ff0066
$filter-greater = #3366ff
$filter-less = gold
$filter-like = #ff9933
$filter-link = #9933ff
$filter-in = #0099cc
$main-color = #03C7EC
$alt-color = #dc1479
$remove-color = red
$darken = hsla(0, 0%, 0%, 0.2)
$tab-border-color = darken(#e9ebee, 30)

$body-background = linear-gradient(135deg, #33d9d7 0%, #3390dc 100%)
$console-background = white
$container-background = #e9ebee
