
fontFamily = 'Helvetica Neue', Helvetica, Arial, sans-serif
mainFont = normal 1em/1.5em fontFamily

$button-selected = lightgreen
$filter-not = tomato
$filter-greater = dodgerblue
$filter-less = gold
$filter-like = lightsalmon
$filter-link = mediumOrchid
