article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: main-font;
}
body {
  margin-top: 35px;
}
.console-filtered {
  border: 1px solid #000;
  min-height: 35px;
  width: 50%;
}
.console-filtered .equal,
.console-filtered .not,
.console-filtered .less,
.console-filtered .greater,
.console-filtered .like {
  margin: 3px;
  padding: 2px;
}
.console-filtered .equal:hover,
.console-filtered .not:hover,
.console-filtered .less:hover,
.console-filtered .greater:hover,
.console-filtered .like:hover {
  background-color: #f00;
  cursor: pointer;
}
.console-filtered .equal {
  background-color: #90ee90;
}
.console-filtered .not {
  background-color: #ff6347;
}
.console-filtered .less {
  background-color: #ffd700;
}
.console-filtered .greater {
  background-color: #1e90ff;
}
.console-filtered .like {
  background-color: #ffa07a;
}
.console-selected {
  border: 1px solid #000;
  min-height: 35px;
  width: 50%;
}
.console-selected .target {
  background-color: #90ee90;
  margin: 3px;
  padding: 2px;
}
.console-selected .target:hover {
  background-color: #f00;
  cursor: pointer;
}
.focused-record-tab {
  color: #008000;
}
.console {
  background-color: light-blue;
  border: 1px solid #000;
  height: 70px;
  width: 100%;
}
.records {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
}
.records .record-button {
  display: inline-block;
  margin: 3px;
  padding: 5px;
  background-color: #d3d3d3;
}
.records .record-button:hover {
  cursor: pointer;
}
.records .record-button select,
.records .record-button input {
  width: 100%;
}
.records .record-button-selected {
  background-color: #90ee90;
}
.records .filter-not {
  background-color: #ff6347;
}
.records .filter-greater {
  background-color: #1e90ff;
}
.records .filter-less {
  background-color: #ffd700;
}
.records .filter-like {
  background-color: #ffa07a;
}
.records-tabs {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 45px;
  width: 100%;
}
.records-tabs:hover {
  cursor: pointer;
}
.table-tabs {
  max-height: 70px;
  max-width: 150px;
  width: 15%;
}
.table-tab > div,
.table-tab select {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  width: 100px;
}
